<!-- templates/shop/cart.html -->
{% extends 'shop/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Shopping Cart{% endblock %}

{% block content %}
<h1>Shopping Cart</h1>

{% if cart_items %}
<ul>
    {% for item in cart_items %}
    <li>
        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="100" height="75">
        <strong>{{ item.product.name }}</strong> - &#8377; {{ item.product.price|floatformat:2|intcomma }} x {{
        item.quantity }}
        <a href="{% url 'shop:remove_from_cart' item.id %}">Remove</a>
    </li>
    {% endfor %}
</ul>
<p>Total: &#8377; {{ total_price|floatformat:2|intcomma }}</p>
{% else %}
<p>Your cart is empty.</p>
<img src="{% static 'shop/images/empty.gif' %}" alt="Empty Cart" width="200" height="150">
{% endif %}
{% endblock %}