{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="{% static 'shop/styles/register.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <!--  -->
    <div class="container">

        <div class="form-box register">
            <form action="#" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Registration</h1>
                {% if messages %}
                <div class="alert alert-info" role="alert">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}

                <!-- First Name Input Field -->
                <div class="input-box">
                    <input type="text" placeholder="FirstName" name="first_name" required>
                    <i class='bx bxs-user'></i>
                </div>

                <!-- Last Name Input Field -->
                <div class="input-box">
                    <input type="text" placeholder="LastName" name="last_name" required>
                    <i class='bx bxs-user'></i>
                </div>

                <!-- Username Input Field -->
                <div class="input-box">
                    <input type="text" placeholder="Username" name="username" required>
                    <i class='bx bxs-envelope'></i>
                </div>

                <!-- Password Input Field -->
                <div class="input-box">
                    <input type="password" placeholder="Password" name="password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <button type="submit" class="btn">Register</button>
            </form>
        </div>

        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Already have an account?</p>
                <a href="/login/"><button class="btn login-btn">Login</button></a>
            </div>
        </div>
    </div>

</body>

</html>