<!-- templates/shop/shop_page.html -->
{% extends 'shop/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Product Catalog{% endblock %}

{% block carousel %}
<div id="carouselExampleIndicators" class="carousel slide shop-slider">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'shop/images/slide1.jpg' %}" class="d-block w-100 shop-slider-img" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'shop/images/slide2.jpg' %}" class="d-block w-100 shop-slider-img" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'shop/images/slide3.jpg' %}" class="d-block w-100 shop-slider-img" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock %}

{% block content %}
<h1>Product Catalog</h1>

<ul class="product-list">
    {% for product in products %}
    <li class="product-item">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200" height="150">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Price: &#8377; {{ product.price|floatformat:2|intcomma }}</p>
        <a href="#" class="buy-now-button"><i class="fas fa-shopping-bag"></i>Buy Now</a>
        <a class="buy-now-button" href="{% url 'shop:add_to_cart' product.id %}"><i class="fas fa-cart-plus"></i>Add to
            Cart</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}